/* CSS RESET */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* TIC-TAC-TOE */

* {
    --unit-size: 200px;
    --unit-border-width: 3px;
    --unit-font-size: 3rem;
    --unit-border-radius: calc(0.2 * var(--unit-size))
}

html {
    background-image: linear-gradient(rgb(83, 83, 196),rgb(52, 52, 190));
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 50px;
    font-size: 2rem;
}

header h1 {
    display: block;
    margin: auto;
    padding-inline: 15px;
    padding-block: 8px;
    background-color: white;
    color: black;
    /* text-shadow: 1px 1px 10px black; */
    box-shadow: 2px 2px 15px black;
    border-radius: 20px;
    width: fit-content;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gameboard {
    width: calc(var(--unit-size) * 3 + var(--unit-border-width) * 2);
    height: calc(var(--unit-size) * 3 + var(--unit-border-width) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-inline: 50px;
}

.play-unit {
    width: var(--unit-size);
    height: var(--unit-size);
    background-color: black;
    font-size: var(--unit-font-size);
    text-align: center;
    line-height: calc(var(--unit-size) + 35px);
    color: white;
    cursor: pointer;
}

.second-column {
    border-inline: var(--unit-border-width) solid rgb(62, 62, 182);
}

.second-row {
    border-block: var(--unit-border-width) solid rgb(62, 62, 182);
}

.first-row:first-of-type {
    border-top-left-radius: var(--unit-border-radius);
}

.third-row:last-of-type {
    border-bottom-right-radius: var(--unit-border-radius);
}

.player-info {
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    width: 200px;
    height: fit-content;
    margin: auto;
    background-color: black;
    background-image: linear-gradient( black, rgb(39, 39, 39));
    border-radius: 20px;
    color: white;
    transition: all 0.5s ease;
}

.player-info.active {
    opacity: 1;
}

.player-info h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.player-info span.player-symbol {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.player-info span.player-score {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.pop-up {
    display: none;
    position: absolute;
    text-align: center;
    margin-inline: auto;
    left: 0;
    right: 0;
    top: 39vh;
    width: min-content;
    height: fit-content;
    min-width: 550px;
    min-height: 200px;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px black;
}

.pop-up.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pop-up span {
    margin: auto;
    font-size: 1.3rem;
}


.pop-up label {
    text-align: left;
    margin-right: 0;
    margin-block: 10px;
    font-size: 1.3rem;
    width: 80%;
}

.pop-up input {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 8px;
    margin-bottom: 10px;
    width: 80%;
}

.pop-up button.symbol-picker {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.pop-up button.play-button {
    width: 100px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-inline: 20px;
    cursor: pointer;
}

.pop-up button:hover, input:hover {
    filter: drop-shadow(1px 1px 5px);
}

button.play-button:hover {
    color: rgb(108, 108, 233);
}
